.buy {
    margin-top: 5rem;
} 

.btns {
    display: flex;
    width: 40%;
    justify-content: space-around;
    margin: auto;
}

.list {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem 8rem  ;
}

.child {
    flex-basis: 21%;
}