.heroDiv{
    background-color: #f1f7f4;
    height: 35rem;
    display: flex;
    justify-content: space-between;
    padding: 2rem 17rem;
    padding-left: 10rem;
}


.landingContent h1{
    font-size: 4rem;
    padding-top:5rem ;
    color: #ff8201;
}

.landingContent h3{
    font-weight: 400;
}   

.landingContent button{
    margin-right: 2rem;
    width: 200px;
    margin-top: 50px;
}
.landingImage img{
    width: 25rem;
    transform: rotate(90deg);
}

  .trending{
    padding: 2rem 5rem;
  }
  .trendingItems{
    display: flex;
    flex-wrap: wrap;;
  }