.heroDiv{
    text-align: center;
    color: white;
    text-shadow: 0 0 3px orangered, 0 0 5px black;
}

.heroDiv h1{
    font-size: 5rem;
    margin-bottom: 0rem;
    margin-top: 0rem;
    text-transform: uppercase;
}
.heroDiv h3{
    font-size: 2rem;
    margin-top: 0rem;
}