.mainDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-color: #264653;
    color: white;
}
.inputBoxes{
    background-color: white;
    border:0;
    padding: 0.5rem;
    border-radius: 10px;
    width: 20rem;
    height: 2rem;
    font-size: 17px;
    border: none;
    outline: none;
    transition: .25s ease;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin:0.3rem;
    font-family: 'DM Sans', sans-serif;
  }
.buttonlogin{
    margin-top: 10rem;
}
.headingSignup{
    margin: 1rem;
    font-size: 45px;
}
.headingtoLogin{
    margin: 1rem;
}
.innerDiv{
    display: flex;
    justify-content: center;
    align-items: flex-start;    
    flex-direction: column;
    padding: 20px;
    width: 70vw;   
    border: 2px solid black;
    border-radius: 5%;
    background-image: url("../Assets/mess.webp");
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    /* box-shadow: 0px; */
}
.toLogin{
    cursor: pointer;
    color: rgb(162, 207, 242);
}
label{
    margin: 0.5rem;
}
.formSignup{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.nameDiv{
    width: 1px;
    height: 50px;
}